<style>
    table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>
<h2>게시판</h2>
<a href="{% url 'board_create' %}">새 글 작성</a>
<table>
    <th>id</th>
    <th>제목</th>
    <th>작성자</th>
    {% if posts %}
    {% for post in posts %}
        <tr>
            <td>{{ post.pk }}</td>
            <td><a href="{% url 'board_detail' post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.author.name }}</td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td colspan='3' style="text-align:center">게시글이 없습니다.</td>
        </tr>
    {% endif %}
</table>
{% if messages %}
    <script>
        {% for message in messages %}
            alert('{{ message }}')
        {% endfor %}
    </script>
{% endif %}