{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="card mb-3">
    
    
    
    <h3 class="card-header">{{ post.title }}</h3>
    <div class="card-body">
        <p class="card-text">작성자: {{ post.author.name }}</p><hr>
        <p class="card-text">{{ post.content|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
        
        <p class="card-text text-center">작성시간: {{ post.created_at|date:'Y-m-d H:i:s' }}</p>
    </div>
</div>
<div class='float-end'>
<a href="{% url 'board_list' %}" class='btn btn-secondary btn-sm'>목록</a>&nbsp&nbsp
<a href="{% url 'board_edit' post.pk %}" class='btn btn-secondary btn-sm'>수정</a>
<a href="{% url 'board_delete' post.pk %}" class='btn btn-secondary btn-sm'>삭제</a>
</div>
{% if messages %}
    <script>
        {% for message in messages %}
            alert('{{ message }}')
        {% endfor %}
    </script>
{% endif %}